.footer{
    /* position: relative; */
    width: var(--g-width);
    height: 55px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: start;
    grid-gap: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
